Spotify Test 2 Updated 2.json
[
    {
        "id": "245b365b9163d19f",
        "type": "tab",
        "label": "Spotify Test 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f7fa3dc7545e107",
        "type": "change",
        "z": "245b365b9163d19f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.tracks.items",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "params",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "a83c16a39566d50d",
                "9e43a3409e2bc195",
                "03e5712ac9c450f1"
            ]
        ]
    },
    {
        "id": "a83c16a39566d50d",
        "type": "split",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 890.0068778991699,
        "y": 280,
        "wires": [
            [
                "b5842a6e5a8e638a"
            ]
        ]
    },
    {
        "id": "eefce694b8d3859d",
        "type": "function",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "func": "msg.payload={\"title\": msg.payload.name, \"icon\": msg.payload.album.images[2].url,\n    \"uri\": msg.payload.album.uri, \"track\": msg.payload.track_number,\n    \"q\": msg.payload.uri,\n    \"menu\": [\n            \"Play\",\n            \"Queue\"\n        ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1147.9028625488281,
        "y": 280,
        "wires": [
            [
                "e6151d680932211d"
            ]
        ]
    },
    {
        "id": "e6151d680932211d",
        "type": "join",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1275.4708309173584,
        "y": 280,
        "wires": [
            [
                "8853757746ed50e2"
            ]
        ]
    },
    {
        "id": "d1e1963d499a5102",
        "type": "range",
        "z": "245b365b9163d19f",
        "d": true,
        "minin": "1",
        "maxin": "100",
        "minout": "0",
        "maxout": "99",
        "action": "scale",
        "round": true,
        "property": "payload.track",
        "name": "",
        "x": 1403.8038482666016,
        "y": 380,
        "wires": [
            [
                "cf04f2447ce8e48a"
            ]
        ]
    },
    {
        "id": "cf04f2447ce8e48a",
        "type": "function",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "func": "msg.params = [\n    {\n        \"context_uri\": msg.payload.uri\n,\n    \"offset\": {\n    \"position\":  msg.payload.track\n        \n    }\n    }\n];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1561.4072036743164,
        "y": 380,
        "wires": [
            [
                "64dd7e7050e32cb8"
            ]
        ]
    },
    {
        "id": "62d098beec64eede",
        "type": "switch",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "property": "payload.selected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Play",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1263.1732635498047,
        "y": 407.47420263290405,
        "wires": [
            [
                "d1e1963d499a5102"
            ],
            [
                "3f6d9e85d669930a"
            ]
        ]
    },
    {
        "id": "3f6d9e85d669930a",
        "type": "function",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "func": "\nmsg.params = \n[msg.payload.q];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1413.8038482666016,
        "y": 433.91843605041504,
        "wires": [
            [
                "e0e5e28a9eb83e8a"
            ]
        ]
    },
    {
        "id": "6e27ea0ad907c373",
        "type": "ui_template",
        "z": "245b365b9163d19f",
        "d": true,
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background */\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Buttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n    md-list-item .md-list-item-inner {\n    background: #b22a2a00;\n    /* padding-left: 8px; */\n    /* width: 100%; */\n    /* height: 100%; */\n    }\n    md-list-item .md-list-item-inner {\n    background: #00000000;\n    }\n    .nr-dashboard-template p, .nr-dashboard-template h1, .nr-dashboard-template h2, .nr-dashboard-template h3,\n    .nr-dashboard-template h4 {\n    color: #000000 !important;\n    background-color: #301f1f00 !important;\n    }\n    .nr-dashboard-template {\n    overflow-y: clip;\n    /* vertical-align: inherit; */\n    }\n    .nr-dashboard-theme .nr-dashboard-template .md-button {\n    background-color: #2e698000;\n    margin: 0;\n    min-width: unset;\n    line-height: unset;\n    }\n    .nr-dashboard-theme md-menu-content {\n    background-color: #d03e3e00;\n    }\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 220,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d21d9b09e12686fd",
        "type": "ui_text_input",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a49c0692cb0dbaa1",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "search",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 60,
        "y": 280,
        "wires": [
            [
                "c71e30eb4d6612d2"
            ]
        ]
    },
    {
        "id": "c71e30eb4d6612d2",
        "type": "switch",
        "z": "245b365b9163d19f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "25dd2516db0fb2c6"
            ]
        ]
    },
    {
        "id": "e56307f18a62536a",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "",
        "auth": "3d728934197f1534",
        "api": "searchTracks",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "3f7fa3dc7545e107"
            ]
        ]
    },
    {
        "id": "64dd7e7050e32cb8",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "auth": "3d728934197f1534",
        "api": "play",
        "x": 1710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e0e5e28a9eb83e8a",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "auth": "3d728934197f1534",
        "api": "addToQueue",
        "x": 1571.4072036743164,
        "y": 433.91843605041504,
        "wires": [
            []
        ]
    },
    {
        "id": "b5842a6e5a8e638a",
        "type": "string",
        "z": "245b365b9163d19f",
        "d": true,
        "name": "",
        "methods": [
            {
                "name": "left",
                "params": [
                    {
                        "type": "num",
                        "value": "30"
                    }
                ]
            }
        ],
        "prop": "payload.name",
        "propout": "payload.name",
        "object": "msg",
        "objectout": "msg",
        "x": 1016.6735649108887,
        "y": 280,
        "wires": [
            [
                "eefce694b8d3859d"
            ]
        ]
    },
    {
        "id": "8853757746ed50e2",
        "type": "ui_list",
        "z": "245b365b9163d19f",
        "d": true,
        "group": "a49c0692cb0dbaa1",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "lineType": "one",
        "actionType": "menu",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1393.0035934448242,
        "y": 280,
        "wires": [
            [
                "62d098beec64eede"
            ]
        ]
    },
    {
        "id": "75473c59789d5b8c",
        "type": "mqtt in",
        "z": "245b365b9163d19f",
        "name": "",
        "topic": "voice/spotify",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d884dd6ea2b740e9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "ce6bd64a689e8743",
                "8118d5d6fe8d1707",
                "d21d9b09e12686fd",
                "94db9144256b4d53"
            ]
        ]
    },
    {
        "id": "ce6bd64a689e8743",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "Voice Query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "8d750b1a694fb609",
        "type": "mqtt out",
        "z": "245b365b9163d19f",
        "name": "",
        "topic": "voice/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d884dd6ea2b740e9",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "96c022a3a602324d",
        "type": "mqtt in",
        "z": "245b365b9163d19f",
        "name": "",
        "topic": "voice/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d884dd6ea2b740e9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ced75e4555472b25",
                "4451404681978b5c"
            ]
        ]
    },
    {
        "id": "ced75e4555472b25",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "Processing Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d9896c5be9e99c0",
        "type": "ui_button",
        "z": "245b365b9163d19f",
        "name": "",
        "group": "d783cb980c3979fc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle Recording",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "button_pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "8d750b1a694fb609",
                "61c31bece24ae322"
            ]
        ]
    },
    {
        "id": "8118d5d6fe8d1707",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "d783cb980c3979fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voice Query",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 360,
        "wires": []
    },
    {
        "id": "4451404681978b5c",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "d783cb980c3979fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voice Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "61c31bece24ae322",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "Button Testing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "f0aab3b9c7f25569",
        "type": "ui_button",
        "z": "245b365b9163d19f",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "7d063cd1eadbf865"
            ]
        ]
    },
    {
        "id": "976a0ec28485611b",
        "type": "ui_button",
        "z": "245b365b9163d19f",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "9a8aa717566737f4"
            ]
        ]
    },
    {
        "id": "9a8aa717566737f4",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "Play",
        "auth": "3d728934197f1534",
        "api": "play",
        "x": 290,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7d063cd1eadbf865",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "Pause",
        "auth": "3d728934197f1534",
        "api": "pause",
        "x": 290,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e913d37d711af707",
        "type": "ui_button",
        "z": "245b365b9163d19f",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Skip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "d9f603041b6970c5"
            ]
        ]
    },
    {
        "id": "d9f603041b6970c5",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "Skip",
        "auth": "3d728934197f1534",
        "api": "skipToNext",
        "x": 290,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9e43a3409e2bc195",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "03e5712ac9c450f1",
        "type": "function",
        "z": "245b365b9163d19f",
        "name": "",
        "func": "msg.params = [\n    {\n        \"context_uri\": msg.payload[0].album.uri\n,\n    \"offset\": {\n    \"position\":  msg.payload[0].track_number - 1\n        \n    }\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 400,
        "wires": [
            [
                "d80610cfc726e278"
            ]
        ]
    },
    {
        "id": "d80610cfc726e278",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "",
        "auth": "3d728934197f1534",
        "api": "play",
        "x": 1008.5927963256836,
        "y": 400,
        "wires": [
            [
                "5b9fae877d2a9a4b"
            ]
        ]
    },
    {
        "id": "5b9fae877d2a9a4b",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "6413bc0be8f8ee5b",
        "type": "inject",
        "z": "245b365b9163d19f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 740,
        "wires": [
            [
                "4e7750ee45e235df"
            ]
        ]
    },
    {
        "id": "ef2cf2917118187f",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 800,
        "wires": []
    },
    {
        "id": "4e7750ee45e235df",
        "type": "spotify",
        "z": "245b365b9163d19f",
        "name": "",
        "auth": "3d728934197f1534",
        "api": "getMyCurrentPlaybackState",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "83198139313ad2f0",
                "ef2cf2917118187f"
            ]
        ]
    },
    {
        "id": "83198139313ad2f0",
        "type": "switch",
        "z": "245b365b9163d19f",
        "name": "",
        "property": "payload.is_playing",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "485daca24898ba7e"
            ],
            []
        ]
    },
    {
        "id": "485daca24898ba7e",
        "type": "change",
        "z": "245b365b9163d19f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "songTitle",
                "pt": "msg",
                "to": "payload.item.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "albumTitle",
                "pt": "msg",
                "to": "payload.item.album.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "albumReleaseDate",
                "pt": "msg",
                "to": "payload.item.album.release_date",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "artistName",
                "pt": "msg",
                "to": "payload.item.artists[0].name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "imageUri",
                "pt": "msg",
                "to": "payload.item.album.images[0].url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 680,
        "wires": [
            [
                "7fd08ba524348e83",
                "e8d73725411f7ccb",
                "ce3d9e681c256f51",
                "fb88dc998d21bf42",
                "32fdad403f418115",
                "5b49f9831c6b5131"
            ]
        ]
    },
    {
        "id": "7fd08ba524348e83",
        "type": "ui_template",
        "z": "245b365b9163d19f",
        "group": "a49c0692cb0dbaa1",
        "name": "Image",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<img src=\"{{msg.imageUri}}\" style=\"max-width: 100%; border-radius: 8px;\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1410,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ce3d9e681c256f51",
        "type": "debug",
        "z": "245b365b9163d19f",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 820,
        "wires": []
    },
    {
        "id": "e8d73725411f7ccb",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "a49c0692cb0dbaa1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Song Title",
        "format": "{{msg.songTitle}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "fb88dc998d21bf42",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "a49c0692cb0dbaa1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Album",
        "format": "{{msg.albumTitle}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "32fdad403f418115",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "a49c0692cb0dbaa1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Release Date",
        "format": "{{msg.albumReleaseDate}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1440,
        "y": 760,
        "wires": []
    },
    {
        "id": "5b49f9831c6b5131",
        "type": "ui_text",
        "z": "245b365b9163d19f",
        "group": "a49c0692cb0dbaa1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Artist",
        "format": "{{msg.artistName}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 820,
        "wires": []
    },
    {
        "id": "25dd2516db0fb2c6",
        "type": "function",
        "z": "245b365b9163d19f",
        "name": "",
        "func": "\nmsg.params = \n[msg.payload,{ limit : 1, offset : 0 }];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "e56307f18a62536a"
            ]
        ]
    },
    {
        "id": "94db9144256b4d53",
        "type": "change",
        "z": "245b365b9163d19f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "search",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "c71e30eb4d6612d2"
            ]
        ]
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Search",
        "tab": "f0a1db7162cd0bdc",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a49c0692cb0dbaa1",
        "type": "ui_group",
        "name": "Music Information",
        "tab": "f0a1db7162cd0bdc",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d728934197f1534",
        "type": "spotify-auth",
        "name": "All Scopes for Reading States Spotify",
        "scope": "user-read-currently-playing user-read-playback-state user-read-recently-played user-top-read user-modify-playback-state"
    },
    {
        "id": "d884dd6ea2b740e9",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc289f3e011706f8",
        "type": "ui_group",
        "name": "Music Control",
        "tab": "f0a1db7162cd0bdc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0a1db7162cd0bdc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "40c25b1f7ce5efa7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-spotify": "0.1.4",
            "node-red-contrib-string": "1.0.0",
            "node-red-node-ui-list": "0.3.6"
        }
    }
]