Updated Node-Red Flows.json
[
    {
        "id": "ee5445377253d1d7",
        "type": "tab",
        "label": "Spotify Test 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e96208c38c74688",
        "type": "function",
        "z": "ee5445377253d1d7",
        "name": "",
        "func": "\nmsg.params = \n[msg.payload,{ limit : 10, offset : 0 }];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "5ed2d57d64f75242"
            ]
        ]
    },
    {
        "id": "b9a822a854888c15",
        "type": "change",
        "z": "ee5445377253d1d7",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.tracks.items",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "params",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "d94bef37811bcc53"
            ]
        ]
    },
    {
        "id": "d94bef37811bcc53",
        "type": "split",
        "z": "ee5445377253d1d7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 890.0068778991699,
        "y": 280,
        "wires": [
            [
                "75b91ef40e99ddb6"
            ]
        ]
    },
    {
        "id": "d6951a3acf276376",
        "type": "function",
        "z": "ee5445377253d1d7",
        "name": "",
        "func": "msg.payload={\"title\": msg.payload.name, \"icon\": msg.payload.album.images[2].url,\n    \"uri\": msg.payload.album.uri, \"track\": msg.payload.track_number,\n    \"q\": msg.payload.uri,\n    \"menu\": [\n            \"Play\",\n            \"Queue\"\n        ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1147.9028625488281,
        "y": 280,
        "wires": [
            [
                "199a93644204d0bc"
            ]
        ]
    },
    {
        "id": "199a93644204d0bc",
        "type": "join",
        "z": "ee5445377253d1d7",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1275.4708309173584,
        "y": 280,
        "wires": [
            [
                "625e72fa0cce45b7"
            ]
        ]
    },
    {
        "id": "8bb2c6ef87e41556",
        "type": "range",
        "z": "ee5445377253d1d7",
        "minin": "1",
        "maxin": "100",
        "minout": "0",
        "maxout": "99",
        "action": "scale",
        "round": true,
        "property": "payload.track",
        "name": "",
        "x": 1403.8038482666016,
        "y": 380,
        "wires": [
            [
                "41462b9e2f6c6fda"
            ]
        ]
    },
    {
        "id": "41462b9e2f6c6fda",
        "type": "function",
        "z": "ee5445377253d1d7",
        "name": "",
        "func": "msg.params = [\n    {\n        \"context_uri\": msg.payload.uri\n,\n    \"offset\": {\n    \"position\":  msg.payload.track\n        \n    }\n    }\n];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1561.4072036743164,
        "y": 380,
        "wires": [
            [
                "4ba557963e439e3c"
            ]
        ]
    },
    {
        "id": "614d88a08715e3f2",
        "type": "switch",
        "z": "ee5445377253d1d7",
        "name": "",
        "property": "payload.selected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Play",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1263.1732635498047,
        "y": 407.47420263290405,
        "wires": [
            [
                "8bb2c6ef87e41556"
            ],
            [
                "caf64fe1aa059724"
            ]
        ]
    },
    {
        "id": "caf64fe1aa059724",
        "type": "function",
        "z": "ee5445377253d1d7",
        "name": "",
        "func": "\nmsg.params = \n[msg.payload.q];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1413.8038482666016,
        "y": 433.91843605041504,
        "wires": [
            [
                "cfb3f7a8d8a499d5"
            ]
        ]
    },
    {
        "id": "2cc22929a47b82b3",
        "type": "ui_template",
        "z": "ee5445377253d1d7",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background */\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Buttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n    md-list-item .md-list-item-inner {\n    background: #b22a2a00;\n    /* padding-left: 8px; */\n    /* width: 100%; */\n    /* height: 100%; */\n    }\n    md-list-item .md-list-item-inner {\n    background: #00000000;\n    }\n    .nr-dashboard-template p, .nr-dashboard-template h1, .nr-dashboard-template h2, .nr-dashboard-template h3,\n    .nr-dashboard-template h4 {\n    color: #000000 !important;\n    background-color: #301f1f00 !important;\n    }\n    .nr-dashboard-template {\n    overflow-y: clip;\n    /* vertical-align: inherit; */\n    }\n    .nr-dashboard-theme .nr-dashboard-template .md-button {\n    background-color: #2e698000;\n    margin: 0;\n    min-width: unset;\n    line-height: unset;\n    }\n    .nr-dashboard-theme md-menu-content {\n    background-color: #d03e3e00;\n    }\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 220,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "33795e3bef11012c",
        "type": "ui_text_input",
        "z": "ee5445377253d1d7",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a49c0692cb0dbaa1",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "search",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "56d4ec3d0b514bcb"
            ]
        ]
    },
    {
        "id": "56d4ec3d0b514bcb",
        "type": "switch",
        "z": "ee5445377253d1d7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "2e96208c38c74688"
            ]
        ]
    },
    {
        "id": "5ed2d57d64f75242",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "",
        "auth": "77c0dd3d668bb2b6",
        "api": "searchTracks",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "b9a822a854888c15"
            ]
        ]
    },
    {
        "id": "4ba557963e439e3c",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "",
        "auth": "77c0dd3d668bb2b6",
        "api": "play",
        "x": 1710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cfb3f7a8d8a499d5",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "",
        "auth": "77c0dd3d668bb2b6",
        "api": "addToQueue",
        "x": 1571.4072036743164,
        "y": 433.91843605041504,
        "wires": [
            []
        ]
    },
    {
        "id": "75b91ef40e99ddb6",
        "type": "string",
        "z": "ee5445377253d1d7",
        "name": "",
        "methods": [
            {
                "name": "left",
                "params": [
                    {
                        "type": "num",
                        "value": "30"
                    }
                ]
            }
        ],
        "prop": "payload.name",
        "propout": "payload.name",
        "object": "msg",
        "objectout": "msg",
        "x": 1016.6735649108887,
        "y": 280,
        "wires": [
            [
                "d6951a3acf276376"
            ]
        ]
    },
    {
        "id": "625e72fa0cce45b7",
        "type": "ui_list",
        "z": "ee5445377253d1d7",
        "group": "a49c0692cb0dbaa1",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "lineType": "one",
        "actionType": "menu",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1393.0035934448242,
        "y": 280,
        "wires": [
            [
                "614d88a08715e3f2"
            ]
        ]
    },
    {
        "id": "9a9e06822e802e4c",
        "type": "mqtt in",
        "z": "ee5445377253d1d7",
        "name": "",
        "topic": "voice/spotify",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d884dd6ea2b740e9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "17ac92dd5b2cec75",
                "938e4df5c6fa7ff5",
                "33795e3bef11012c"
            ]
        ]
    },
    {
        "id": "17ac92dd5b2cec75",
        "type": "debug",
        "z": "ee5445377253d1d7",
        "name": "Voice Query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "9431fc97119655be",
        "type": "mqtt out",
        "z": "ee5445377253d1d7",
        "name": "",
        "topic": "voice/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d884dd6ea2b740e9",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "c586e74c4ec9f312",
        "type": "mqtt in",
        "z": "ee5445377253d1d7",
        "name": "",
        "topic": "voice/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d884dd6ea2b740e9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "8b57fd133e271c8a",
                "f69925b7389b05d7"
            ]
        ]
    },
    {
        "id": "8b57fd133e271c8a",
        "type": "debug",
        "z": "ee5445377253d1d7",
        "name": "Processing Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "6d2a4b93c3501ed3",
        "type": "ui_button",
        "z": "ee5445377253d1d7",
        "name": "",
        "group": "d783cb980c3979fc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle Recording",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "button_pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "9431fc97119655be",
                "82297bb2fd0b67d0"
            ]
        ]
    },
    {
        "id": "938e4df5c6fa7ff5",
        "type": "ui_text",
        "z": "ee5445377253d1d7",
        "group": "d783cb980c3979fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voice Query",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 360,
        "wires": []
    },
    {
        "id": "f69925b7389b05d7",
        "type": "ui_text",
        "z": "ee5445377253d1d7",
        "group": "d783cb980c3979fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voice Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "82297bb2fd0b67d0",
        "type": "debug",
        "z": "ee5445377253d1d7",
        "name": "Button Testing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "090c01f23d703c06",
        "type": "ui_button",
        "z": "ee5445377253d1d7",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "32673535c7aef42a"
            ]
        ]
    },
    {
        "id": "cee0c3e83a94d13c",
        "type": "ui_button",
        "z": "ee5445377253d1d7",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "0874e0970752def2"
            ]
        ]
    },
    {
        "id": "0874e0970752def2",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "Play",
        "auth": "77c0dd3d668bb2b6",
        "api": "play",
        "x": 290,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "32673535c7aef42a",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "Pause",
        "auth": "77c0dd3d668bb2b6",
        "api": "pause",
        "x": 290,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "ef9e11197c97a5fb",
        "type": "ui_button",
        "z": "ee5445377253d1d7",
        "name": "",
        "group": "bc289f3e011706f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Skip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "0f69c4a9d861ba3c"
            ]
        ]
    },
    {
        "id": "0f69c4a9d861ba3c",
        "type": "spotify",
        "z": "ee5445377253d1d7",
        "name": "Skip",
        "auth": "77c0dd3d668bb2b6",
        "api": "skipToNext",
        "x": 290,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "f0a1db7162cd0bdc",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a49c0692cb0dbaa1",
        "type": "ui_group",
        "name": "Search",
        "tab": "f0a1db7162cd0bdc",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "77c0dd3d668bb2b6",
        "type": "spotify-auth",
        "name": "John-Access",
        "scope": "streaming user-read-private "
    },
    {
        "id": "d884dd6ea2b740e9",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc289f3e011706f8",
        "type": "ui_group",
        "name": "Music Control",
        "tab": "f0a1db7162cd0bdc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0a1db7162cd0bdc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dac76dceb15d08c1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-spotify": "0.1.4",
            "node-red-contrib-string": "1.0.0",
            "node-red-node-ui-list": "0.3.6"
        }
    }
]